/*Fuentes
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Varela Round', sans-serif;*/
body{
    background-image: url(./img/backgroundindex.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cabecera__titulo{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 70px; 
}
.titulo__main{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    text-decoration: underline;
}
.servicios{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}
.navbar navbar-expand-lg{
    padding: 30px;
}
.map{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.pie{
    background-color: gainsboro;
    padding: 20px;
    text-align: end;
}

@media (max-width: 320px) {
    .cabecera__titulo{
        font-family: 'Kdam Thmor Pro', sans-serif;
        font-size: 35px;
    }
}
